body::before {
    content: "";
    position: fixed;
    width: 100%;
    height: 100%;
    background-image: url('background_img/Home.png');
    z-index: -1;
  }

.navigator {
    color : rgb(250, 250, 250);
    padding-top: 50px;
    padding-left: 1000px;

}
h2 {
    font-size:40px;
}
a {
    color : inherit;
    padding-right: 10px;
    text-decoration: none;
}

#name {
    text-indent:145px;

}

.main-1 {
    font-size: 90px;
    padding-left:360px;
    padding-top:190px;
    padding-bottom:0px;
    line-height:80%;

}

#github-logo {
    left:2px;
    width:55px;
}

#linkedin-logo {

    left:8px;
    width:55px;
}

#kaggle-logo {

    left:12px;
    padding-top:10px;
    width:120px;
}

#codechef-logo {
    left:20px;
    width:150px;
}
